<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.asakusafw.shafu.core.gradleContextEnhancers">
      <enhancer
            class="com.asakusafw.shafu.internal.asakusafw.gradle.AsakusaFrameworkGradleContextEnhancer">
      </enhancer>
   </extension>
   <extension
         id="com.asakusafw.shafu.asakusafw.projectTemplates"
         point="com.asakusafw.shafu.ui.projectTemplates">
      <provider
            class="com.asakusafw.shafu.internal.asakusafw.gradle.AsakusaFrameworkTemplateProvider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.asakusafw.shafu.internal.asakusafw.preferences.ShafuAsakusaPreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="com.asakusafw.shafu.asakusafw"
            label="%keyword.main">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.asakusafw.shafu.ui.contextMenu?after=beginSpecific">
         <command
               commandId="com.asakusafw.shafu.ui.buildProject"
               label="%menu.compileDmdl.label"
               style="push">
            <parameter
                  name="taskNames"
                  value="cleanCompileDMDL compileDMDL">
            </parameter>
         </command>
         <command
               commandId="com.asakusafw.shafu.ui.buildProject"
               label="%menu.generateTestbook.label"
               style="push">
            <parameter
                  name="taskNames"
                  value="generateTestbook">
            </parameter>
         </command>
         <command
               commandId="com.asakusafw.shafu.ui.buildProject"
               label="%menu.compileBatchapp.label"
               style="push">
            <parameter
                  name="taskNames"
                  value="jarBatchapp">
            </parameter>
         </command>
         <command
               commandId="com.asakusafw.shafu.ui.buildProject"
               label="%menu.assemble.label"
               style="push">
            <parameter
                  name="taskNames"
                  value="assemble">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.asakusafw.shafu.ui.preference"
            class="com.asakusafw.shafu.internal.asakusafw.preferences.ShafuAsakusaPreferencePage"
            id="com.asakusafw.shafu.asakusafw.preference"
            name="%preference.name">
         <keywordReference
               id="com.asakusafw.shafu.ui">
         </keywordReference>
         <keywordReference
               id="com.asakusafw.shafu.ui.template">
         </keywordReference>
         <keywordReference
               id="com.asakusafw.shafu.asakusafw">
         </keywordReference>
      </page>
   </extension>

</plugin>
