<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="projectTemplates" name="%extension.projectTemplates" schema="schema/projectTemplates.exsd"/>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.asakusafw.shafu.internal.ui.preferences.ShafuPreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="com.asakusafw.shafu.internal.ui.consoles.ShafuConsoleManager"
            icon="$nl$/icons/ctool16/jinrikisha.gif"
            label="%console.label">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="com.asakusafw.shafu.ui"
            label="%keyword.main">
      </keyword>
      <keyword
            id="com.asakusafw.shafu.ui.template"
            label="%keyword.template">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%command.category.description"
            id="com.asakusafw.shafu.ui"
            name="%command.category.name">
      </category>
      <command
            categoryId="com.asakusafw.shafu.ui"
            id="com.asakusafw.shafu.ui.buildProject"
            name="%command.buildProject.name">
         <commandParameter
               id="taskNames"
               name="%command.buildPorject.parameter.name"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.asakusafw.shafu.ui.buildProject">
         <class
               class="com.asakusafw.shafu.internal.ui.handlers.BuildProjectHandler">
         </class>
         <enabledWhen>
            <reference
                  definitionId="com.asakusafw.shafu.core.singleProjectSelected">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="$nl$/icons/ctool16/jinrikisha.gif"
               id="com.asakusafw.shafu.ui.contextMenu"
               label="%menu.label">
            <visibleWhen
                  checkEnabled="true">
               <reference
                     definitionId="com.asakusafw.shafu.core.singleProjectSelected">
               </reference>
            </visibleWhen>
            <separator
                  name="beginGeneric"
                  visible="true">
            </separator>
            <command
                  commandId="com.asakusafw.shafu.ui.buildProject"
                  label="%menu.runWithPrompt.label"
                  style="push">
            </command>
            <separator
                  name="endGeneric"
                  visible="true">
            </separator>
            <separator
                  name="beginSpecific"
                  visible="true">
            </separator>
            <separator
                  name="endSpecific"
                  visible="true">
            </separator>
            <separator
                  name="beginProject"
                  visible="true">
            </separator>
            <command
                  commandId="com.asakusafw.shafu.ui.buildProject"
                  label="%menu.reloadProjectInfo.label"
                  style="push">
               <parameter
                     name="taskNames"
                     value="eclipse">
               </parameter>
            </command>
            <separator
                  name="endProject"
                  visible="true">
            </separator>
            <separator
                  name="additions"
                  visible="true">
            </separator>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.asakusafw.shafu.ui.toolbar">
            <separator
                  name="additions"
                  visible="true">
            </separator>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.asakusafw.shafu.ui"
            name="%new.category.name">
      </category>
      <wizard
            canFinishEarly="false"
            category="com.asakusafw.shafu.ui"
            class="com.asakusafw.shafu.internal.ui.wizards.NewProjectWizard"
            hasPages="true"
            icon="$nl$/icons/ctool16/newprj_wiz.gif"
            id="com.asakusafw.shafu.ui.newProject"
            name="%new.project.name"
            project="true">
         <description>
            %new.project.description
         </description>
         <keywordReference
               id="com.asakusafw.shafu.ui">
         </keywordReference>
         <keywordReference
               id="com.asakusafw.shafu.ui.template">
         </keywordReference>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.asakusafw.shafu.ui"
            name="%import.category.name">
      </category>
      <wizard
            category="com.asakusafw.shafu.ui"
            class="com.asakusafw.shafu.internal.ui.wizards.ImportProjectsWizard"
            icon="icons/ctool16/newprj_wiz.gif"
            id="com.asakusafw.shafu.ui.importProjects"
            name="%import.projects.name">
         <description>
            %import.projects.description
         </description>
         <keywordReference
               id="com.asakusafw.shafu.ui">
         </keywordReference>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="com.asakusafw.shafu.ui"
            name="%export.category.name">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <newWizardShortcut
               id="com.asakusafw.shafu.ui.newProject">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaHierarchyPerspective">
         <newWizardShortcut
               id="com.asakusafw.shafu.ui.newProject">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <newWizardShortcut
               id="com.asakusafw.shafu.ui.newProject">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut
               id="com.asakusafw.shafu.ui.newProject">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.asakusafw.shafu.internal.ui.preferences.ShafuPreferencePage"
            id="com.asakusafw.shafu.ui.preference"
            name="%preference.name">
         <keywordReference
               id="com.asakusafw.shafu.ui">
         </keywordReference>
         <keywordReference
               id="com.asakusafw.shafu.ui.template">
         </keywordReference>
      </page>
   </extension>

</plugin>
