<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.3"?>
<plugin>
   <extension-point id="gradleContextEnhancers" name="%extension.gradleContextEnhancers" schema="schema/gradleContextEnhancers.exsd"/>
   <extension-point id="httpCredentials" name="%extension.httpCredentials" schema="schema/httpCredentials.exsd"/>
   <extension-point id="extensionFilters" name="%extension.extensionFilters" schema="schema/extensionFilters.exsd"/>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.asakusafw.shafu.core.singleResourceSelected">
         <or>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate
                     operator="or">
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                  </adapt>
               </iterate>
            </with>
            <with
                  variable="activeEditorInput">
               <adapt
                     type="org.eclipse.core.resources.IResource">
               </adapt>
            </with>
         </or>
      </definition>
      <definition
            id="com.asakusafw.shafu.core.singleProjectSelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate
                  operator="or">
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt></iterate>
         </with>
      </definition>
   </extension>
</plugin>
